@model BackendsDashboard.Models.AccountProjectsViewModel
@{
    ViewBag.Title = "Проекти користувача...";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddProject", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
   
    <table class="table table-striped table-hover" id="products">
        <tr>
            <th> @Html.DisplayName("#")</th>
            <th>@Html.DisplayName("Назва проекту")</th>
            <th>@Html.DisplayName("AppId")</th>
            <th>@Html.DisplayName("ApiKeyAccess")</th>
            <th>@Html.DisplayName("Дата створення")</th>
            <th>@Html.DisplayName("Кількість класів")</th>
            <th>@Html.DisplayName("Кількість користувачів")</th>
            @*<th>@Html.DisplayName("MasterKeyAccess")</th>*@
            <th></th>
        </tr>
        @{int i = 0;}
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    <span>@(++i)</span>
                    @*@Html.DisplayFor(modelItem => item.Id)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApiKeyAccess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntitiesCount)
                    @*@Html.DisplayFor(modelItem => item.MasterKeyAccess)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLogedIn)
                    @*@Html.DisplayFor(modelItem => item.MasterKeyAccess)*@
                </td>
                <td>
                    @Html.ActionLink("Details", "Index", new { controller = "Dashboard", id = item.Id })
                </td>
            </tr>
        }
    </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Створити проект" />
               @* @Html.ActionLink("Додати проект", "AddProject", "Home", routeValues: null, htmlAttributes: new { title = "Manag e" })*@
            </div>
        </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

